
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;
  background-color:  rgb(255, 232, 147);
}

img{
  width: 240px;
  margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: rgb(255, 232, 147) ;
  margin: auto;
}

.buttonSearch {
  display: flex;
  align-items: center;
  width: 90%;
  height: 60px;
  gap: .5rem;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  justify-content: space-between;
  background-color: rgb(253, 213, 112);
  position: sticky;
  top: 50px;
  box-shadow: 2px 6px 6px 0px #3030304d;
  z-index: 200;
}

.buttonSearch img {
  position: absolute;
  top:-2.3rem;
  left: 38%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6));
}
.placeHolder {
  height: 40px;
  background-color:rgb(255, 241, 205);
}

.buttonSearch img {
  width: 100px;
}
.searchButton {
  background-color: rgb(40 114 185);
  color: whitesmoke;
  transition-duration: .4s;
}

.searchButton:hover {
  transform: scale(.95);
}

.pokemonCards {
  z-index: 100;
  background-color: whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
  width: 380px;
  box-shadow: 0px 12px 15px #1212126a;
  position: relative;
  transition-duration: .4s;
}

.pokemonCards:hover:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(20deg, rgba(67, 67, 67, 0.065) 50%, rgba(233, 233, 233, 0.102) 50%);
  border-radius: 1rem;

}

.pokemonCards:hover {
  transform: scale(0.98);
}

a {
  text-decoration: none;
}

input  {
  background-color: whitesmoke;
  border: none;
  border-radius: 1.5rem ;
  font-size: 1.2rem;
  padding: 0 1rem;
  width: 50%;
  overflow-x: hidden;
}
input:focus {
  outline:1px;

}
.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: .2rem;
  row-gap: .2rem;
  justify-content: center;
  background-color: rgb(253, 213, 112);
  border-radius: 1rem;
  padding: 1rem .5rem;
}
button {
  background-color: #333;
  border: none;
  color: whitesmoke;
  padding: .5rem 2rem;
  border-radius: 1rem;
}

.pokemonCards--details {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  background-color: #333;
  border-radius: 0 0 1rem 1rem;
}

.details--details- img {
  width: 300px;
}

.idContainerDetails {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;

}

.containerDDD {
  border: 4px dotted #333;
  padding: 2rem;
  margin-top: 10% ;
  border-radius: 2rem;
  background-color: hsl(37, 100%, 75%);
  box-shadow: 0px 10px 15px -3px #00000090;
}
.details--details- {
   height: 100vh;
}

.pokemonCards--detailss {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #333;
  color: aliceblue;
  font-size: 2rem;
  border-radius: 2.4rem;
}

.lghitDarkM {
  text-align: center;
  width: 65px;
  height: 30px;
  border-radius: 1.4rem;
  align-items: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.701);
  color: #333333;
}

.sun {
  background-color: rgb(255, 255, 124);
  border-radius: 50%;
  padding:2px 6px;
}

.moon {
  background-color: rgb(0, 0, 63);
  border-radius: 50%;
  padding:2px 6px;
  color: aliceblue;
}

.active {
  transition-duration: .2s;
  border: 4px rgba(158, 158, 255, 0.728) solid;
}

.dark {
  background-color: #333 !important;
}


.cardsDark {
  color:whitesmoke;
  background-color: #000;
}

.buttonsContainerDark {
  background-color: black;
}

.buttonSearchDark {
  background-color: rgba(0, 0, 0, 0.521);
}

.inputDark {
  background-color: #333333;
  color:whitesmoke;
}

