
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  max-width: 500px;
  margin: auto;
}

img{
  width: 240px;
  margin: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: rgb(255, 232, 147) ;
  margin: auto;
}

.buttonSearch {
  display: flex;
  width: 90%;
  gap: 1rem;
  padding: 0.2rem .2rem;
  border-radius: 2rem;
  justify-content: space-between;
  background-color: rgb(253, 213, 112);
  position: sticky;
  top: 20px;
  box-shadow: 2px 6px 6px 0px #3030304d;
}

.buttonSearch img {
  width: 100px;
}
.buttonSearch button {
  background-color: whitesmoke;
  color: #333;
}
.pokemonCards {
  background-color: whitesmoke;
  border: 1px solid #333;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
  width: 380px;
  box-shadow: 0px 12px 15px #1212126a;
}

a {
  text-decoration: none;
}

input  {
  background-color: whitesmoke;
  border: none;
  border-radius: 1.5rem ;
  font-size: 1.2rem;
  padding: 0 1rem;
  width: 50%;
  overflow-x: hidden;
}
input:focus {
  outline:1px;

}
.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: .2rem;
  row-gap: .2rem;
  justify-content: center;
  background-color: rgb(253, 213, 112);
  border-radius: 1rem;
  padding: 1rem .5rem;
}
button {
  background-color: #333;
  border: none;
  color: whitesmoke;
  padding: .5rem 2rem;
  border-radius: 1rem;
}

.pokemonCards--details {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  background-color: #333;
  border-radius: 0 0 1rem 1rem;
}

.details--details- img {
  width: 300px;
}

.idContainerDetails {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;

}

.containerDDD {
  border: 4px dotted #333;
  padding: 2rem;
  margin-top: 40% ;
  border-radius: 2rem;
  background-color: hsl(37, 100%, 75%);
  box-shadow: 0px 10px 15px -3px #00000090;
}
.details--details- {
   height: 100vh;
}

.pokemonCards--detailss {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #333;
  color: aliceblue;
  font-size: 2rem;
  border-radius: 2.4rem;
}